@font-face{
    font-family: "Cascadia Mono";
    src: url(../../CascadiaMono-VariableFont_wght.ttf);
}
body{
    background-color: rgb(8, 8, 12);
    font-family: "Cascadia Mono";
    color:rgb(66, 58, 70);
    margin:0;
}
::selection{
    background: rgba(48, 147, 104, 0.221);
    color: rgb(100, 239, 172);
}
.point-plot, .point-group{
    background: radial-gradient(
        rgb(39, 37, 37), 
        rgb(39, 37, 37) 5%, 
        rgb(0, 0, 0) 5%

    ); 

    background-size: 4% 4%;
    max-width: 100%;
    max-height: 100%;
    cursor: url(../img/crosshair.svg) 8 8, pointer;
}
.path-point{
    fill:rgb(208, 56, 78);
    fill-opacity: 75%;
}
.path-point.selected, .control-point.selected{
    r: 17;
    fill-opacity: 100%;
}
.control-point{
    fill:  rgb(69, 69, 152);
    fill-opacity: 75%;
}
.implied-point{
    fill: transparent;
    stroke-width: 10;
    stroke: rgb(208, 56, 78);
    stroke-opacity: 75%;
}
.implied-point.selected{
    stroke-opacity: 100%;
}


.path-point, .control-point, .implied-point, .glyph{
    cursor: move;
}
.character-outline{
    fill: rgba(27, 92, 25, 0.442);
    
}
.glyph-contour{
    fill: transparent;
    /* pointer-events: stroke; */
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke: rgb(56, 103, 31);
    transition: stroke-width 0.2s ease-in-out, stroke 0.2s ease-in-out;
}
.glyph-contour:hover{
    stroke-width: 15;
    stroke: rgb(81, 139, 50);
}

.glyph{
    fill: rgba(232, 118, 25, 0.442);
    stroke: rgba(220, 120, 39, 0.96);
    stroke-linejoin: round;
    stroke-width: 0px;
    /* stroke: rgba(220, 120, 39, 0); */
    /* transition: stroke-width 0.2s ease-in-out; */

}

.glyph:hover, .glyph.selected{
    
    stroke-width: 5px;
    transition: stroke-width 0.2s ease-in-out;
}

.glyph.selected{
    stroke-width: 8px;
    stroke: rgba(220, 96, 39, 0.96);
    transition: stroke 0.2s ease-in-out;
}
.emsquare{
    fill: transparent;
    stroke-width: 0.005px;
    stroke-dasharray: 0.03px 0.03px;
    stroke: rgb(159, 122, 122);
}

.font-data{
    width: 25vw;
    height: 100vh;
    overflow: scroll;
    
}

.font-data .key-value .key, .font-data .dropdown{
    color:rgb(66, 58, 70);
}

.font-data .subtree, .font-data .dropdown{
    border-color: rgb(16, 15, 17);
}

.glyph-picker{
    

    width: 45vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: visible;
}
.glyph-picker svg{
    transition: 0.1s ease-in-out;
}
.glyph-picker svg:hover{
    transform: scale(110%);
    transition: .1s ease-in-out;
    background-color: rgb(23, 23, 35);
    
    z-index: 0;

}

.glyph-picker svg path{
    stroke-dasharray: 150;
    stroke-dashoffset: -150;
    transition: 0.4s ease-out;
    stroke-width: 1;
    stroke: rgb(100, 239, 172);
    fill: rgb(66, 58, 70);

}
.glyph-picker svg:hover path{
    stroke-width: 20;
    stroke-dashoffset: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: 0.4s ease-in-out;

}
.glyph-info{
    color:rgb(66, 58, 70);
    position: absolute;
    top: 0;
    left:0;
}

.vertical-divider{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
}
.vertical-divider div{
    overflow-x: hidden;

}
.vertical-divider .divider{
    background-color: rgb(21, 21, 22);
    cursor:col-resize;
}

.box-select{
    fill: transparent;
    stroke:rgb(99, 111, 99);
    stroke-width: 5px;
    stroke-dasharray: 20 20;
}

.resizer-rect{
    fill:transparent;
    stroke: rgb(123, 83, 120);
    stroke-width: 10;
    pointer-events: none;
}
.resizer-point{
    fill: rgb(169, 87, 162);
}
.resizer-point.px, .resizer-point.mx{
    cursor: ew-resize;
}
.resizer-point.py, .resizer-point.my{
    cursor: ns-resize;
}

.resizer-point.px.my, .resizer-point.mx.py{
    cursor: nwse-resize;
}
.resizer-point.py.px, .resizer-point.my.mx{
    cursor: nesw-resize;
}

.guideline{
    stroke:rgb(166, 172, 161);
    stroke-width: 5;
    stroke-dasharray: 15 10;
}