.point-plot, .point-group{
    background: radial-gradient(
        rgb(62, 59, 59), 
        rgb(62, 59, 59) 1px, 
        rgb(38, 34, 34) 1px

    );
    background-size: 20px 20px;
    
}
.path-point{
    fill:rgb(158, 43, 43);
    r: 15;
    
}
.control-point{
    fill:  rgb(69, 69, 152);
    r: 15;
}
.implied-point{
    fill: transparent;
    stroke-width: 10;
    stroke: rgb(158, 43, 43);
}
.character-outline{
    fill: rgb(27, 92, 25);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke: rgb(113, 184, 75);
}

.glyph{
    fill: rgb(135, 85, 44);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke: rgb(220, 120, 39);
}
.emsquare{
    fill: transparent;
    stroke-width: 0.005px;
    stroke-dasharray: 0.02px 0.01px;
    stroke: rgb(159, 122, 122);
}

.font-data{
    width: 25vw;
    height: 100vh;
    overflow: scroll;
}

.glyph-picker{
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
}
